/*******************************************************************
*	팝업 --- 이용약관, 개인정보처리방침
********************************************************************/
@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: italic;
}

.tit {
  margin-top: 12px;
  margin-left : 10px;
  font-size : 17px;
  font-family: "GangwonEdu_OTFBoldA";
}

.modal-body{
    max-height: calc(99vh - 500px);
    overflow-y: auto;
}

