@font-face {
    font-family: "Cafe24Oneprettynight";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff") format("woff");
    font-style: normal;
}

body {
	
    position: absolute;     
    width: 100%;
    height: 100vh;
    background-color: #F5F5F5;
}

.container {	
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 20px;	
	color: white;	
	margin: 20px 0;
	padding: 10px;		
	font-family: "Cafe24Oneprettynight";
	background-color: #93b19a;
	border-radius: 6px;
	box-shadow: 0 0 5px #999;	
}

.form-group, .form-image {
	min-width: 450px;
    margin: 20px 0;
    width: 100%;
}

.form-group label, .form-image label {
    display: block;
    font-family: "Cafe24Oneprettynight";
    margin-bottom: 10px;
}

.form-control {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.star-rating i {
    cursor: pointer;
    color: #ccc;
}

.star-rating i.fas {
    color: #699372;
}

.btn-list {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #9db8a4;
    font-family: "Cafe24Oneprettynight";
    margin: 10px;
}

.btn-list:hover {
    background-color: #29382c;
}

.btn-info{
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #668e6f;
    font-family: "Cafe24Oneprettynight";
    margin: 10px;
}

.btn-info:hover {
    background-color: #29382c;
}

.btn-delete {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #3d5543;
    font-family: "Cafe24Oneprettynight";
    margin: 10px;
}

.btn-delete:hover {
    background-color: #29382c;
}

.form-image {
    width: 450px;
    height: 450px; 
}

.form-image img {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
	box-shadow: 0 0 5px #999;	
}

#id_writeDate, #button {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#id, #writeDate {
    font-family: "Cafe24Oneprettynight";
}

#content {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    overflow: auto;
}