@font-face {
    font-family: "Cafe24Oneprettynight";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff")
        format("woff");
    font-style: normal;
}

.star-rating i {
    cursor: pointer;
    color: #CCC;
}

.star-rating i.fas {
    color: #f39c12;
}

body {
    position: absolute;
    width: 100%;
    height: 100vh;
}

#main {
    margin-top: 70px;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin-bottom: 15px;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Cafe24Oneprettynight";
}

.container {
    border-top: 1px solid #757575;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 400px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form-group label {
    margin-right: 10px;
    font-family: "Cafe24Oneprettynight";
}

.form-control {
    border-radius: 3px;
    border-color: #d1d1d1;
    padding: 5px;
}

#title_input, #content_input {
    width: 560px;
    margin-left: 14px;
    margin-right: 70px;
}

#content_input {
    height: 100px;
}

.star-rating i {
    cursor: pointer;
    color: #CCCCCC;
}

.star-rating i.fas {
    color: #699372;;
}

#photo_label {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    background-color: #CCC;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
}

#image_container {
    width: 92px;
    height: 92px;
    border: 0.5px solid #d1d1d1;
    border-radius: 8px;
    background-size: cover;
    background-position: center center;
}

#image_preview {
    width: 90px;
    height: 90px;
    border-radius: 8px;
    border: 0.5px solid #d1d1d1;
    background-size: cover;
    background-position: center center;
    display: none;
}

.btn_photo, #photo_label {
    background-color: #93B19A;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 3px;
    font-family: "Cafe24Oneprettynight";
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
    text-align: center;
}

.btn_photo:hover, #photo_label:hover {
    background-color: #699372;
    box-shadow: 0 0 5px #333;
}