@import
	url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900')
	;

@import
	url('https://unicons.iconscout.com/release/v2.1.9/css/unicons.css');

@font-face {
	font-family: "Cafe24Oneprettynight";
	src:
		url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff")
		format("woff");
	font-style: normal;
}

/*
*{
	font-family: "Cafe24Oneprettynight";
	font-weight: bolder;
}
*/
header a {
	height: 64px;
	color: white;
}

header nav span a {
	padding: 0px;
}

body {
	font-size: 15px;
	line-height: 1.7;
	color: #c4c3ca;
	background-color: #2c3d2f;
	overflow-x: hidden;
}

main {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	height: 95vh;
}

*::-webkit-scrollbar {
	display: none;
}

div a {
	font-family: "Cafe24Oneprettynight";
	cursor: pointer;
	font-size: 1.2rem;
	transition: all 200ms linear;
}

a:hover {
	font-family: "Cafe24Oneprettynight";
}

.link {
	color: #c4c3ca;
}

.link:hover {
	color: #ffeba7;
}

p {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.7;
}

h4 {
	font-weight: 600;
	font-size: 1.3rem;
}

h6 span {
	padding: 0 20px;
	text-transform: uppercase;
	font-weight: 700;
}

.section {
	position: relative;
	width: 100%;
	height: 95vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.full-height {
	min-height: 100vh;
}

[type="checkbox"]:checked, [type="checkbox"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

.checkbox:checked+label, .checkbox:not(:checked)+label {
	position: relative;
	display: block;
	text-align: center;
	width: 60px;
	height: 16px;
	border-radius: 8px;
	padding: 0;
	margin: 10px auto;
	cursor: pointer;
	background-color: #ffeba7;
}

.checkbox:checked+label:before, .checkbox:not(:checked)+label:before {
	position: absolute;
	display: block;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	color: #ffeba7;
	background-color: #1F2B21;
	font-family: 'unicons';
	content: '\eb4f';
	z-index: 20;
	top: -10px;
	left: -10px;
	line-height: 36px;
	text-align: center;
	font-size: 24px;
	transition: all 0.5s ease;
}

.checkbox:checked+label:before {
	transform: translateX(44px) rotate(-270deg);
}

.card-3d-wrap {
	position: relative;
	width: 700px;
	max-width: 100%;
	height: 400px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	perspective: 800px;
	margin-top: 60px;
}

.card-3d-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	transition: all 600ms ease-out;
}

.card-front {
	width: 100%;
	height: 100%;
	background-color: #445e49;
	background-image: url(../../../resources/images/loginform.jpg);
	background-position: left;
	background-repeat: no-repeat;
	background-size: 50%;
	position: absolute;
	border-radius: 6px;
	left: 0;
	top: 0;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	font-family: 'Poppins', sans-serif;
}

.card-back {
	width: 100%;
	height: 100%;
	background-color: #445e49;
	background-image: url(../../../resources/images/loginform2.jpg);
	background-position: left;
	background-repeat: no-repeat;
	background-size: 50%;
	position: absolute;
	border-radius: 6px;
	left: 0;
	top: 0;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	font-weight: bolder;
	font-family: 'Poppins', sans-serif;
}

.card-back {
	transform: rotateY(180deg);
}

.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
	transform: rotateY(180deg);
}

.center-wrap {
	position: absolute;
	width: 100%;
	padding: 0 35px;
	top: 50%;
	left: 0;
	transform: translate3d(0, -50%, 35px) perspective(100px);
	z-index: 20;
	display: block;
}

.form-group {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
}

.form-style {
	padding: 13px 20px;
	padding-left: 55px;
	height: 48px;
	width: 100%;
	font-weight: 500;
	border-radius: 4px;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.5px;
	outline: none;
	color: #c4c3ca;
	background-color: #1b251d;
	border: none;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
	box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
}

.form-style:focus, .form-style:active {
	border: none;
	outline: none;
	box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
}

.form-group input:-ms-input-placeholder {
	color: #c4c3ca;
	opacity: 0.7;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}

.form-group input::-moz-placeholder {
	color: #c4c3ca;
	opacity: 0.7;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}

.form-group input:-moz-placeholder {
	color: #c4c3ca;
	opacity: 0.7;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}

.form-group input::-webkit-input-placeholder {
	color: #c4c3ca;
	opacity: 0.7;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}

.form-group input:focus:-ms-input-placeholder {
	opacity: 0;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}

.form-group input:focus::-moz-placeholder {
	opacity: 0;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}

.form-group input:focus:-moz-placeholder {
	opacity: 0;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}

.form-group input:focus::-webkit-input-placeholder {
	opacity: 0;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}

.btn {
	border-radius: 4px;
	height: 44px;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	transition: all 200ms linear;
	padding: 0 30px;
	letter-spacing: 1px;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: none;
	background-color: #8aab91;
	color: #004040;
	box-shadow: 0 8px 8px 0 rgba(44, 66, 65, .1);
}

.btn:active, .btn:focus {
	background-color: #000000;
	color: #ffeba7;
	box-shadow: 0 8px 8px 0 rgba(44, 66, 65, .1);
}

.btn:hover {
	background-color: #000000;
	color: #8aab91;
	box-shadow: 0 8px 8px 0 rgba(44, 66, 65, .1);
}

#loginform {
	padding-left: 330px;
}

.signinmenu {
	display: flex;
	flex-direction: column;
	height: 300px;
	justify-content: space-evenly;
	text-align: center;
}

.signinmenu a {
	font-weight: bolder;
}

#form {
	text-align: center;
}

#form input {
	margin-top: 20px;
}

#submit {
	text-align: center;
}

#background {
	width: 100vw;
	height: 100vh;
	position: fixed;
	background-color: white;
	z-index: -3;
}

#Adbackground {
	width: 100vw;
	height: 100vh;
	position: fixed;
	background-image: url(../../../resources/images/Adbackground.PNG);
	background-size: cover;
	background-position: center;
	z-index: -3;
}

#Userbackground {
	width: 100vw;
	height: 100vh;
	position: fixed;
	background-image: url(../../../resources/images/Userbackground.PNG);
	background-size: cover;
	background-position: center;
	z-index: -3;
}

#background-blackbox {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.3);
}

h1 {
	font-size: 2.3rem;
	font-weight: bolder;
	padding: 20px;
}

#Adbackground {
	border: 1px solid;
	object-fit: cover;
}

#Login {
	padding-top: 279px;
	margin: 0 auto;
	height: 100vh;
	width: 1000px;
}

#logo {
	position: absolute;
	font-size: 2rem;
	display: flex;
	width: 1000px;
	justify-content: center;
	top: 255px;
	font-style: italic;
	font-weight: bolder;
	color: white;
	z-index: 6;
	text-shadow: 0px 0px 10px gray;
}

.logobox {
	position: relative;
	z-index: 5;
	width: 200px;
	text-align: center;
	border-radius: 40px;
}

#Menu {
	margin: 0 auto;
	width: 950px;
	height: 490px;
	background-color: rgba(365, 365, 365, 0.19);
	border: 2px solid transparent;
	border-image: linear-gradient(to right, white, transparent, white) 1;
}

#Menu a {
	margin: 0 auto;
	padding: 10px;
	width: 180px;
	height: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(365, 365, 365, 0.8);
	border-radius: 50%;
	font-weight: bold;
	background-color: #80808080;
}

#MenuOne {
	width: 950px;
	height: 200px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 25px;
	margin-top: 40px;
}

#MenuTwo {
	width: 950px;
	height: 200px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 40px;
}

hr {
	padding-top: 300px;
}

#Menu a:hover {
	background-color: rgba(121, 131, 141, 0.5);
	font-size: 1.1rem;
	color: white;
}

a {
	color: white;
}

#kakaologin {
	background-color: #d9c93a;
    width: 110px;
    height: 40px;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 67px;
    display: flex;
    justify-content: center;
    align-content: center;
}

#kakaologin a{
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    height: 40px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#kakaologin a p{
	margin-top: 10px;
	text-align: center;
	color: black;
	margin-left: 5px;
}

#kakaologin:hover {
	background-color: #D0B134;
	color: #white;
	box-shadow: 0 8px 8px 0 rgba(44, 66, 65, .1);
	z-index: 99;
}
#kakaologo {
	width: 30px;
	height: 30px;
	margin-top: 5px;
}