@font-face {
  font-family: "Cafe24Oneprettynight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff")
    format("woff");
  font-style: normal;
}

main{
	height:100vh;
	display:flex;
	flex-direction: row;
	align-items:center;
	justify-content:center;
	background-color: rgba(0, 0, 0, 0.05);
	margin-right: 80px;
	width: 100vw;
	position: absolute;
	font-family: "Cafe24Oneprettynight";
font-weight: bolder;
}

h2{
	font-size: 1.5rem;
	font-weight:bolder;
	padding-bottom :30px;
	text-align: left;
}

#mainMenu{
	width: 700px;
	height: 500px;
	position: relative;
}

#sideMenu{
	border: 1px solid #c0c0c0;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width : 170px;
	height: 445px;
	margin-right: 50px;
	margin-top : 55px;
	position: relative;
}

#update{
	color:red;
}

hr{
	margin-bottom: 60px;
}

table {
	text-align: center;
	width: 700px;
	table-layout: fixed;
}

table tr:first-child  {
	border-top: 1px solid;
}
table tr:first-child th {
	padding-top: 20px;
}

th{
	height: 30px;
	font-weight: bolder;
	font-size: 1.1rem;
	padding-bottom: 15px;
	text-align:center;
	border-bottom: 0.5px solid gray;
	margin-bottom: 15px;
	width: 140px;
}


td{
	width: 90px;
	height: 50px;
	padding-top: 15px;
}

.no{
	width: 30px;
	padding-right: 10px;
	font-weight: bolder;
}
.pagination{
	align-items: center;
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;
	padding-top: 25px;
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;
}

#showReview{
	color: red;
	font-weight: bolder;
}