@font-face {
  font-family: "Cafe24Oneprettynight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff")
    format("woff");
  font-style: normal;
}

main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: "Cafe24Oneprettynight";
	font-weight: bolder;
}

.center-wrap{
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
	font-size: 2.1rem;
	font-weight: bolder;
	padding: 20px;
	text-align: center;
	color: rgb(44, 61, 47);
}

form{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 650px;
	height: 40vh;
	
	padding: 20px 20px;
    font-weight: 500;
    border-radius: 8px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #ffffff;
    background-color: rgba(44, 61, 47, 0.4);
    border: none;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
    height: 370px;
    width: 500px;
    margin: 15px;
}

form div{
	text-align: left;
	width: 330px;	
	display: flex;
	justify-content: space-between;
	align-items: center;
}

form input{
	height: 30px;
	width: 200px;
	cursor: pointer;
	border: 0.7px solid rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	padding-left: 10px;
}

form input:hover{
	cursor: pointer;
	border: 1px solid rgba(77, 107, 83, 0.8);
	border-radius: 10px;
}

form input:focus{
	outline: 0.7px solid rgba(0, 0, 0, 0.6);
	border-radius: 10px;
}

p{
	font-weight: bolder;
	font-size: 1.2rem;
}

span{
	font-size: 1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}

#change{
	font-family: "Cafe24Oneprettynight";
	font-weight: bolder;
	border-radius: 10px;
    border: 0.7px solid rgba(0, 0, 0, 0.3);
     background-color: rgba(365, 365, 365, 0.7);
    height: 40px;
    margin-top: 20px;
}

#change:hover{
	outline: 0.7px solid rgba(77, 107, 83, 0.8);
	background-color: rgba(44, 61, 47, 0.5);
	color: white;
	font-weight: bolder;
	 box-shadow: 0 8px 24px 0 rgba(52, 61, 51, 0.2);
}