@font-face {
  font-family: "Cafe24Oneprettynight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff")
    format("woff");
  font-style: normal;
}
/* ----------------------------- 전체 틀 ---------------------------*/
body {
  position: absolute;
  width: 100%;
  height: 100vh;
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#allContent {
  border: 2px solid #81a488;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 600px;
  grid-template-columns: 0.4fr 1fr;
  border-radius: 20px;
}
.qnaAll {
  border-right: 1px dashed #81a488;
  width: 100%;
  height: 100%;
  background-image: url(../../../resources/images/insertAnswer.jpg);
  background-size: cover;
  background-position: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.back_black {
  width: 284px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  height: 598px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
/*----------------------------------- qna 내용단 -----------------------------------------*/
.container{
	width: 100%;
  height: 100%;
  display:flex;
  flex-direction:column;
  align-items:center;
}
.container h1{
	font-family: "Cafe24Oneprettynight";
  font-size: 2.2rem;
  font-weight: bold;
  color: #739a7b;
  margin: 50px 0px;
}
.updateQna{
	font-family: "Cafe24Oneprettynight";
  	font-weight: bold;
  	margin-bottom : 15px;
}
.updateQna label{
	font-size : 1.3rem;
}
.updateQna textarea{
	font-family: "Cafe24Oneprettynight";
  	font-weight: bold;
  	margin-top : 10px;
  	margin-left : 10px;
  	font-size : 1.1rem;
  	width : 350px;
  	height : 30px;
}
.updateQna textarea#content{
	height : 100px;
}

.updatePhoto{
	display:flex;
	justify-content:center;
	align-items:center;
}
.updatePhoto img{
	width:140px;
	height:140px;
	 margin : 0px 15px;
}
#img_input {
    width:140px;
	height:140px;
    border-radius: 8px;
    border: 0.5px solid #d1d1d1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin : 0px 15px;
    margin-top: 10px;
}
#img_input label{
	font-size : 1.1rem;
	font-family: "Cafe24Oneprettynight";
  	font-weight: bold;
}
#photo{
	cursor: pointer;
}

#updateButton{
  display:flex;
  align-items:center;
  justify-content : center;
  margin-top : 15px;
}
#btn_update{
	font-family: "Cafe24Oneprettynight";
  font-weight: bold;
  font-size : 1rem;
  width : 60px;
  height: 25px;
  border : none;
  border-radius:3px;
  background-color: #779d7f;
  color : black;
}
#btn_update:hover{
	background-color : white;
	color : #779d7f;
	border : 2px solid #779d7f;
	border-radius : 3px;
	
}
/* -------------------- 사진 삭제 시 관련 --------------------------*/
.updatePhoto {
	position: relative;
}
#photoDelete{
	background-color: rgba(0, 0, 0, 0.3);
    width: 140px;
    height: 140px;
    justify-content: center;
    align-items: center;
    align-content: center;
	display: none;
	position: absolute;	
	left: 24px;
}
#photoDelete i{
	font-size: 2.3rem;
	cursor : pointer;
}
#qnaPhoto:hover {
	cursor: pointer;
}
#qnaPhoto:hover + #photoDelete, #photoDelete:hover {
	display: flex;
}